---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.site-title::after {
  content: url("/assets/images/leaf16.png");
  position: relative;
  left: -1.5em;
  top: -1ex;
}
