---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.site-title::after {
  content: url("/assets/images/leaf24.png");
  display: inline-block;
  position: relative;
  left: -6px;
  top: 9px;
}
