---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.site-title::after {
  content: url("/assets/images/leaf16.png");
  position: relative;
  left: -1.5em;
  top: -1ex;
}

.epsrcContainer {
  display: flex;
  align-items: flex-start; /*Align items at the top */
}

.epsrcImage {
  margin-right: 2em; /* Space between the image and text */
  margin-top: 0.4em;
  height: 3em;
}

.epsrcText {
  font-size: small;
  line-height: 1.3;
  flex-grow: 1; /* Ensure text takes up remaining space */
}
